@import url('https://fonts.googleapis.com/css2?family=Piedra&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Piedra', cursive;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}



.analog-clock {
    width: 400px;
    height: 400px;
    background-color: #111111;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 15px solid #000000;
    box-shadow: 10px 10px 15px rgba(5, 5, 5, 0.9),
                10px 10px 15px rgba(5, 5, 5, 0.9) inset,
                -5px -5px 5px rgba(5, 5, 5, 0.9) inset;
}

.analog-clock::before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
    border-radius: 50%;
}

.analog-clock::after {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 50%;
}



.num-wrap {
    width: 100%;
    height: 100%;
    padding-top: 10px;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;

    /* การเรียกใช้ตัวแปรใน CSS เรียกได้โดย var() ในวงเล็บจะตามด้วยชื่อตัวแปรที่สร้างและกำหนดค่าไว้ */
    transform: rotate(var(--rotate));
}

.num-wrap::before {
    content: "";
    width: 3px;
    height: 5px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #bcbcbc;
    border-radius: 10px;
}

/* การสร้างตัวแปรใน CSS โดยใช้ -- แล้วตามชื่อตัวแปร แล้วกำหนดค่าให้ตัวแปรนั้น ซึ่งการสร้างตัวแปรนั้นจะมีขอบเขตตาม element ที่สร้างไว้ เช่น สร้างไว้ใน element ที่มี class หรือ id ใดๆ ก็จะมีขอบเขตแค่ element นั้น แต่ถ้าจะให้ใช้ได้ทุก element จะต้องสร้างไว้ใน :root หรือ body */
.rotate-num-wrap1 {--rotate: 30deg;}
.rotate-num-wrap2 {--rotate: 60deg;}
.rotate-num-wrap3 {--rotate: 90deg;}
.rotate-num-wrap4 {--rotate: 120deg;}
.rotate-num-wrap5 {--rotate: 150deg;}
.rotate-num-wrap6 {--rotate: 180deg;}
.rotate-num-wrap7 {--rotate: 210deg;}
.rotate-num-wrap8 {--rotate: 240deg;}
.rotate-num-wrap9 {--rotate: 270deg;}
.rotate-num-wrap10 {--rotate: 300deg;}
.rotate-num-wrap11 {--rotate: 330deg;}
.rotate-num-wrap12 {--rotate: 360deg;}

.num {
    display: inline-block;
    color: #ffffff;
    font-size: 1.8rem;
    transform: rotate(var(--rotate));
}

.rotate-num1 {--rotate: -30deg;}
.rotate-num2 {--rotate: -60deg;}
.rotate-num3 {--rotate: -90deg;}
.rotate-num4 {--rotate: -120deg;}
.rotate-num5 {--rotate: -150deg;}
.rotate-num6 {--rotate: -180deg;}
.rotate-num7 {--rotate: -210deg;}
.rotate-num8 {--rotate: -240deg;}
.rotate-num9 {--rotate: -270deg;}
.rotate-num10 {--rotate: -300deg;}
.rotate-num11 {--rotate: -330deg;}
.rotate-num12 {--rotate: -360deg;}



.hand-clock {
    width: 100%;
    height: 100%;
    position: absolute;
}

.rotate-hand-hour {
    transform: rotate(0deg);
}

.hand-hour {
    width: 8px;
    height: 75px;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: red;
    border-radius: 10px;
}



.rotate-hand-min {
    transform: rotate(0deg);
}

.hand-min {
    width: 4px;
    height: 110px;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: red;
    border-radius: 10px;
}



.rotate-hand-sec {
    transform: rotate(0deg);
}

.hand-sec {
    width: 1px;
    height: 140px;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 10%);
    background-color: #ffffff;
    border-radius: 10px;
}

.hand-sec::after {
    content: "";
    width: 4px;
    height: 30px;
    position: absolute;
    bottom: -21%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
}